[submodule "ABCImaging"]
	path = ABCImaging
	url = https://github.com/epfl-mobots/ABCImaging.git
[submodule "ABCThermalPlots"]
	path = ABCThermalPlots
	url = https://github.com/epfl-mobots/ABCThermalPlots.git
[submodule "InfluxDBInterface"]
	path = InfluxDBInterface
	url = https://github.com/epfl-mobots/InfluxDBInterface.git
